.fRight
{
    float: right;
}

.fNone
{
    float: none;
}

.map
{
    width: 100%;
    height: 750px;
    margin-top: 15px;
}

.buttons
{
    margin-top: 5px;
}

.blueBorder
{
    border: 3px solid blue;
}